
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="text-align: center;">
        <img src="/assets/tvslogo.webp" height="150" width="150">
        </div>
        <div class="col-md-8">
            <h3>About Us</h3>
            <p>
                Welcome to our photography portfolio ! I am passionate about capturing the beauty of the world around us through my lens.
                from landscapes to portraits, my goal is to tell a story and create images that evoke emotions and memories.
                Feel free to look into my gallery and contact me. Thank you for visiting !      
            
            </p>
        </div>
      </div>
    
      
      <p style="text-align:center; background: linear-gradient(135deg, #aa5a75, #6340c4);">
        &copy;The Visual StoryTeller
        <br>
        Desined by Avikalp
    </p>  
</div>  
</footer>

  

