
<div class="container-fluid">
    <div class="row">  
        <div class="col-md-12">
            <h2 class="" style="text-align: center;background: linear-gradient(135deg, #aa5a75, #6340c4);
            font-family: cursive;">Our Objective</h2>
           <p style="text-transform: capitalize;font-weight:400; font-size: larger; font-family: cursive;">
            Welcome to our photography website! 
            We are a team of passionate photographers who 
            love capturing life's most precious moments. Our goal is to 
            provide you with high-quality, unique and personalized photography 
            services that will capture your memories for a lifetime.
            We have been in the photography industry for several years,
            and our experience has enabled us to refine our skills and 
            develop a unique style that stands out from the rest. 
            We specialize in various types of photography such as wedding, 
            portrait, landscape, and commercial photography. Our expertise 
            and attention to detail allow us to create stunning and 
            timeless images that tell your story.
            We take pride in delivering exceptional customer service
            to our clients. We understand the importance of creating a 
            comfortable and relaxed environment during a photoshoot, which
            is why we make it a priority to build a personal connection with every 
            client. We work closely with our clients to understand their vision, 
            preferences and requirements to ensure that we deliver a final product 
            that exceeds their expectations.Our photography studio is equipped with 
            state-of-the-art technology and equipment, allowing us to deliver high-quality 
            images that are sharp, vibrant and visually stunning.
           </p>
        </div>
    </div>
</div>


    <div class="body">
        <div class="main-container">
            <h2 style="font-family: cursive;">Our Team</h2>
            <hr>
            <div class="members">
                <div class="team-member">
                    <img src="/assets/aboutusimg.webp">
                    <h4>Anna</h4>
                    <p>Location Analyst</p>
                </div>
                <div class="team-member">
                    <img src="/assets/aboutusimg2.webp">
                    <h4>Michael</h4>
                    <p>Photographer</p>
                </div>
                <div class="team-member">
                    <img src="/assets/aboutusimg3.jpeg">
                    <h4>Sarah</h4>
                    <p>Stylist</p>
                </div>
                <div class="team-member">
                    <img src="/assets/aboutusimg4.webp">
                    <h4>Frank</h4>
                    <p>Hair and Make-up</p>
                </div>
            </div>
        </div>
    </div>


    















