<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Animated Login Form </title>    
</head>

<body>
    <div class="loginbg">
    <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm">
        <div class="form-container">
            <h2 class="login-title"> Login </h2>
            <input type="text" name="text" class="userName" placeholder="username" [(ngModel)]="username" #uname="ngModel">
            <input type="password" name="password" class="userPassword" placeholder="123"[(ngModel)]="password" #pwd="ngModel">
            <button class="loginBtn" [disabled]="!f.form.valid"> Login </button>
            <button class="btn btn-danger pt-3" type="reset">Cancel</button>
        </div>
    </form>
    </div>
</body>
</html>






