<p>
    "Photography is a way of feeling, of touching, of loving. 
    What you have caught on film is captured forever... It remembers little things, 
    long after you have forgotten everything." - Aaron Siskind
</p>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" data-bs-ride="carousel" id="myimgs">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/image3.jpeg" class="img-thumbnail" height="100%" width="100%">
                    </div>    
                    <div class="carousel-item">
                        <img src="/assets/image4.jpeg" class="img-thumbnail" height="100%" width="100%">  
                    </div>    
                    <div class="carousel-item">
                        <img src="/assets/image5.jpeg" class="img-thumbnail" height="100%" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/image6.jpeg" class="img-thumbnail" height="100%" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/image7.webp" class="img-thumbnail" height="100%" width="100%">
                    </div>   
                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#myimgs">            
                <span class="carousel-control-prev-icon"></span>    
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#myimgs">            
                <span class="carousel-control-next-icon"></span>    
                </button>   
            </div>    
        </div>    
    </div>    
  </div>    
  







